.listAvatar {
    object-fit: cover;
    border-radius: 50%;
}

.friendsList ul {
    background: none;
}

.navbar .title{
    color: #fff;
}
.navbar-bg {
    background-color: #202020;
}

.friendsList .friend {
    display:block;
    margin-bottom: 10px;
}

.newMessage:before {
    content: ' ';
    background: #1c84bd;
    width:13px;
    height:13px;
    display:block;
    position: absolute;
    border-radius: 50%;
    top:10px;
    left:5px;
}

.friend .item-title {
    font-weight: bold!important;
}

.friend .badge {
    margin-left:10px;
}

.page-content .searchbar {
    margin:0!important;
}


.messageBar {
    bottom:0;
    position: fixed;
}
.Custom-MessageContent {
    margin-top: calc(var(--f7-navbar-height) - var(--f7-navbar-height) - var(--f7-navbar-height));
    height: 100%;
    padding-bottom: var(--f7-messagebar-height);
    width: 100%;
    display: block;
    opacity: 0;
    transition: opacity 200ms;
}

.list-messages {
    width: calc(100% - 20px);
    height: auto;
    display: block;
    padding: 10px;
}

.messageHandlerContainer {
    position: fixed!important;
    top: -54px;
    left: calc(50% - 100px);
    width:200px;
    height:54px;
    display: block;
    z-index: 1;
    border-radius: 24px;
    transition: top 400ms;
}

.messagesave {
    font-size:11px;
    margin-top: -3px;
    margin-bottom: 3px;;
}

.messageTypeSend .messagesave {
    text-align: right;
}
.messageHandlerContainer.show {
    top: calc(var(--f7-navbar-height) + 10px);
}
.messageHandlerContainer .removebutton, .messageHandlerContainer .copybutton, .messageHandlerContainer .savebutton {
    width:90px;
    height:34px;
    display: inline-block;
    background: #1c84bd;
    backdrop-filter: blur(15px);
    margin: 0px 5px;
    border-radius: 24px;
    opacity: 0.7;
    text-align: center;
    line-height: 34px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.99);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.99);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.99);
}

.doors {
    width:100%;
    height:100%;
    display: block;
    position: fixed;
    left:0;
    top:0;
    z-index: 9999;
}

.doors.remove {
    display: none;
}

.door_left {
    width:50%;
    height:100%;
    display: block;
    background: #202020;
    position: fixed;
    transition: left 500ms;
    left:0%;
    z-index: 9999;
}
.door_right {
    width:50%;
    height:100%;
    display: block;
    background: #202020;
    position: fixed;
    transition: right 500ms;
    right:0%;
    z-index: 9999;
}
.door_left.open {
    left: -50%!important;
}

.door_right.open {
    right: -50%!important;
}
.inRoom {
    position: fixed!important;
    bottom: -44px;
    left: calc(50% - 24px);
    width:44px;
    height:44px;
    display: block;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #242424;
    opacity: .8;
    transition: bottom 400ms;
}

.messageHandlerBox {
    height:0px;
    width:201px;
    display: block;
    transition: margin 400ms, height 400ms;
    position: relative;
   
    
}

.messageHandlerBox.show {
    
    height:36px;
}

.messageTypeSend .messageHandlerBox {
    margin-left:auto;
}
.messagecontainer.copybutton, .messagecontainer.deletebutton, .messagecontainer.savebutton {
    display: block;
    font-size: 13px;
    width: 50px;
    text-align: center;
    background: rgba(20,20,20,0.7) !important;
    backdrop-filter: blur(25px);
    position: absolute;
    z-index: 0;
    margin-top: 0px;
    transition: transform 200ms, margin 400ms;
    transform: scaleY(0);
    padding:5px 7px;
}

.messageHandlerBox.show .messagecontainer.copybutton {
    background: rgba(20,20,20,0.7) !important;
    margin-top: 0px;
    transform: scaleY(1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.messagecontainer.savebutton {
    margin-left:67px !important;
    background: rgba(20,20,20,0.7)!important;
}

.messageHandlerBox.show .messagecontainer.savebutton {
    background: rgba(20,20,20,0.7)!important;
    margin-top: 0;
    margin-left:67px;
    transform: scaleY(1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.messagecontainer.deletebutton {
    margin-left:134px !important;
    background: rgba(150, 17, 28, 0.7)!important;
}
.messageHandlerBox.show .messagecontainer.deletebutton {
    background: rgba(150, 17, 28, 0.7)!important;
    margin-top: 0;
    margin-left:134px;
    transform: scaleY(1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.inRoom.isTrue {
    bottom: calc(var(--f7-messagebar-height) - 24px);
}

.inRoom.isTyping {
    bottom: calc(var(--f7-messagebar-height) + 10px)!important;
}

.removeanimation {
    transform: scaleY(0);
}
.messagecontainer.marked {
    /* margin-left: 20px;
    margin-right: 20px; */
    background: #35474d!important;
}

.copycustombutton, .removecustombutton {

    color: #fff;
}

.messagenew {
    font-size: 10px;
    margin-top: -3px;
    margin-bottom:3px;
    margin-left: 10px;
    transition: margin 400ms;
}

.messagenew.marked  {
    margin-left: 0;
}

.messagebox {
    background: #fff;
    display: block;
    width: 100%;
    height: auto;
    z-index: 9999;
    position: relative;
}
.messagecontainer {
    transition: background 400ms, border-radius 400ms, transform 400ms, border-top 400ms, border-bottom 400ms ;
    width:calc(100% - 45px);
    display:block;
    background: #6994b3;
    backdrop-filter: blur(6px);
    backdrop-filter: contrast(.8);
    padding:7px 17px;
    font-size: 15px;
    color:#fff;
    border-radius: 20px;
    max-width: 250px;
    
    width: fit-content;
    user-select: none;
    margin-bottom: 3px;
    border-top: 0px;
    border-bottom: 0px;
    
}

.bubble {
    padding:1px 15px!important;
    padding-top: 8px!important;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 1);
}

.dialog-backdrop, .popover-backdrop {
    opacity: 0!important;
}

.copy {
    transform: scale(1.1);
}

.messageTypeSend .messagecontainer {
    /* background: #1c84bd; */
   
    margin-left:auto;
    color: #FFF;
    
}

.showContent {
    opacity: 1;
}

.messagename {
    font-weight: bold;
    color:#202020;
    user-select: none;
    font-size: 11px;
    margin-left:10px;
    
}

.messageTypeSend .messagename {
    display:none;
}

.messagedate{
    text-align: center;
    font-weight: 700;
    opacity: .8;
    font-size:12px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.messagedate.hide {
    display:none;
    visibility: hidden;
}
.messagetime, .notsended {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
    
}
.messageTypeSend .messagetime, .messageTypeSend .notsended, .messageTypeSend .bubble.messagecontainer {
    text-align:right;
}

.notsended {
    color: red;
}

.messagebar:before {
    display:none;
}   
.connection {
    border-bottom: 2px solid #000;
    position: absolute;
    top:calc(var(--f7-navbar-height) - 4px);
    width: 100%;
    display: none;
    height:0px;
    z-index:9999;
}

.con-offline {
    border-color: red;
}

.con-online {
    border-color: green;
}